@import 'variables.scss';

.title{
    font-weight: bold;
    font-size: $titleFontSize;
    margin-top: $marginTitle;
    margin-bottom: $marginTitle;
}

.subtitles{
    display: flex;
    flex-direction: row;
    font-size: $defaultFontSize;
}

.stitle{
    width: 33%;
    text-align: center;
}

.bookList{
    width: 100%;
    background-color: aqua;
}
.book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.bookSection{
    padding: 10px;
    margin: 2px;
    width: 33%;
}

.book:nth-child(odd) div {
    background-color: rgb(221, 221, 221);
}
