@import 'variables.scss';

body {
    color: $fontColor;
    

}

html, body {
    padding: 0;
    margin: 0;
}
//TITLE PART
.title {
    display: flex;
    font-size: $titleFontSize;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px;
}

.titleTitle {
    display: flex;
    flex-direction: row;
}

#RS {
    width: 60px;
    height: 60px;
    padding: 20px;
}

#titleText {
    padding-top: 20px;
}

.titleButtons{
    display: flex;
    font-size: $defaultFontSize;
    margin-right: 10px;
}

.buttons{
    padding-left: 10px;
    display: flex;
}

#icon{
    width: 60px;
    height: 60px;
    padding: 20px;
}

#tSit {
    margin-left: 10px;
    margin-right: 10px;
}

//MAIN PAGE PART

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blocks {

    background-color: $bodyBackgroundColor;
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    width: 30%;
}

.subTitle {
    display: flex;
    flex-direction: row-reverse;
}
.subTitleText {
    font-size: $subTitleFontSize;
    text-align: center;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    border-left: solid;
    border-bottom: solid;
    border-width: 2px;
}

#Lorem {
    background-color: $loremBackgroundColor;
}

#Ipsum {
    background-color: $ipsumBackgroundColor;
}

#Dolor {
    background-color: $dolorBackgroundColor;
}

.blockText{
    padding: 25px;
}

// FOOTER

.footer {
    background-color: $bodyBackgroundColor;
    border-top: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    align-self: flex-end;
}

#name {
    font-weight: bold;
}


/* Mobile */
@media only screen and (max-width: 599px) {
    .main { flex-direction: column; }
    .blocks { width: auto; }
    .buttons {display: none;}
}
/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    
    .buttons {display: none;}

    .main {flex-wrap: wrap; }
    #firstBlock{ width: $partSize*22;}
    .blocks{width: calc($partSize*10 - 16px); margin: $partSize;}
    
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    #icon { display: none;}
    .page {min-height: 100vh; display: flex; flex-direction: column;}
    .footerPart {margin-top: auto;}
}
