$bodyBackgroundColor: rgb(228, 237, 214);

$loremBackgroundColor: rgb(101, 206, 250);
$ipsumBackgroundColor: orange;
$dolorBackgroundColor: pink;


$defaultFontSize: 16px;
$titleFontSize: $defaultFontSize * 2;
$subTitleFontSize: $defaultFontSize * 1.5;
$subTitleMargin: 10px;

$fontColor: #000000;

$partSize: 100vw/24;


