.item{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.item:nth-child(2n){
    background-color: bisque;

}

.item > div {
    width: 66vw;
}

.item > button{
    width: 33vw;
}

.item > form > button{
    width: 33vw;
}
.item > form {
    width: 33vw;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title > h1 {
    width: 66vw;
}

.title > button {
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

