html{
  margin:0%;
  padding:0%;
}
body{
  margin:0%;
  padding:0%;
}
.header{
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(14,255,0,1) 33%, rgba(8,0,247,1) 66%, rgba(255,0,0,1) 100%);
  font-size: 2rem;
  color: rgb(50, 50, 50);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.colorblock{
  display: flex;
  flex-direction: row;
  border: solid;
  margin: 10px;
  box-shadow: inset;
}
.colorblock > div{
  width: 25vw;
  text-align: center;
  justify-content: center;
}
.colorblock > img{
  width: 100px;
  height: 100px;
}

.colorBlockButton{
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.buttons{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 100px;
  justify-content: space-around;
}

.buttons > div > button{
  margin-left: 5px;
}