<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="styles.css"/>
    <script>
    function backToStore() {
        window.location.href = '/store';
    }
    </script>
    
</head>
<body>
    <div class="title">
        <h1>Thanks for your purchase</h1>
        <button onclick="backToStore()">Back to store</button>
    </div>
</body>
</html>