<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="styles.css"/>
    <script>
    function backToStore() {
        window.location.href = '/store'; // Redirect to the store page
    }

    </script>
    
</head>
<body>
    <div class="title">
        <h1>Card</h1>
        <button onclick="backToStore()">Back to store</button>
    </div>
    <% items.flowers.forEach(function(flower){%>
        <div class="item">
            <div><%= flower.title %></div>
            <form method="post" action="/removeFromCard" >
                <button id="<%= flower.id %>" name="flower" type="submit" value="<%= flower.id %>">Remove</button>
            </form>
        </div>
    <%}) %>
    <form method="post" action="/purchase" >
        <button type="submit">Purchase</button>
    </form>
    
</body>
</html>