<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="styles.css"/>
    <script>
    function goToCard() {
        window.location.href = '/card'; // Redirect to the card page
    }
    </script>
</head>
<body>
    <div class="title">
        <h1>Shopping items</h1>
        <button onclick="goToCard()">Go to card</button>
    </div>
    
    <% items.flowers.forEach(function(flower){%>
        <div class="item">
            <div><%= flower.title %></div>
            <form method="post" action="/addToCard" >
                <button id="<%= flower.id %>" name="flower" type="submit" value="<%= flower.id %>">Buy</button>
            </form>
        </div>
    <%}) %>
    
</body>
</html>